{% load static %}
<!doctype html>
<head>
    <title>Hello Azure - Python Django Quickstart</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'images/azure-icon.svg' %}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold">Hello {{name}}</h1>
            <p class="fs-5">
                Current language: <b>{{language}}</b>
            </p>
            <p class="fs-5">
              Resolved Key vault value: <b>{{key}}</b> (For demonstration purposes only)
            </p>
          </div>
     </main>      
   </body>
</html>